@import "colors";

.content {
  float: left;
}

/*$font-family-global: 'Nunito Sans', sans-serif;*/
$font-family-global: 'Roboto', sans-serif;

/*body font size*/
$body-font-size: 16px;

/*Aside panel and top heder Icon size*/
$icon-size: 28px;
/*Aside panel and top heder Icon size*/

