/* BLUE LIGHT THEME */

// primary
$color-primary: #3B4C60;
$color-primary0: #6C84A4;
$color-primary1: #617C9E;
$color-primary2: #5B7393;
$color-primary3: #546B89;
$color-primary4: #4E637E;
$color-primary5: #475B74;

// secondary
$color-secondary: #169BD5;
$color-secondary0: #169BD5;
$color-secondary1: #169BD5;
$color-secondary2: #169BD5;
$color-secondary3: #169BD5;
$color-secondary4: #169BD5;
$color-secondary5: #169BD5;

// tertiary
$color-tertiary: #DF613E;
$color-tertiary0: #DF613E;
$color-tertiary1: #DF613E;
$color-tertiary2: #DF613E;
$color-tertiary3: #DF613E;
$color-tertiary4: #DF613E;
$color-tertiary5: #DF613E;

// grayscale
$color-black: #000000;
$color-gray1: #101010;
$color-gray2: #202020;
$color-gray3: #303030;
$color-gray4: #404040;
$color-gray5: #505050;
$color-gray6: #606060;
$color-gray7: #707070;
$color-gray8: #808080;
$color-gray9: #909090;
$color-grayA: #A0A0A0;
$color-grayB: #B0B0B0;
$color-grayC: #C0C0C0;
$color-grayD: #D0D0D0;
$color-grayE: #E0E0E0;
$color-grayF: #F0F0F0;
$color-white: #ffffff;

/*Global blue color code*/
$global-blue-color: #52b2e3;
/*Global blue color code*/

/*Header and footer background color code*/
$headerandfooterbg : #284257;
/*Header and footer background color code*/

/*side panel text color*/
$aside-color: #fff;
/**/

/*Page heading background color*/
$page-heading-bg:#f9f9f9;
$page-heading-color:#647894;
/*Page heading background color*/

/*page section sub heading color*/
$page-sub-heading: rgb(59, 76, 96);
/*page section sub heading color*/

/*Breadcrumb bg color code here*/
$breadcrumb-bg:#f2f2f2;
/*Breadcrumb bg color code here*/

/**/
$section-color-body: #666666;
/**/

/*input type textarea and select text color*/
$inputtext-color: #949494;
/*input type textarea and select text color*/

/*btn icon color*/
$btn-color:#61b2e1;

/*side panel text color*/
$asidebg-color: rgba(59, 76, 97, 1);










